<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Request</title>
</head>

<body>
    <form action="/requests" method="POST">
        <div class="form-group">
            <label>Item Name</label>
            <input type="text" class="form-control" name="item_name" value="" placeholder="Enter Item Name" />
        </div>
        <div class="form-group">
            <label>Item Supplier</label>
            <input type="text" class="form-control" name="item_supplier" value="" placeholder="Enter Item Supplier" />
        </div>
        <div class="form-group">
            <label>Item Quantity</label>
            <input type="text" class="form-control" name="item_quantity" value="" placeholder="Enter Item Quantity" />
        </div>
        <div class="form-group">
            <input type="submit" />
        </div>
    </form>
</body>

</html>